$phone = '(max-width: 767px)'

*
  box-sizing: border-box

body
  font-family: 'Lato', serif

#content
  display: flex
  justify-content: center
  background: url("/images/logo-pale.svg") no-repeat calc(100% + 1600px) calc(100% + 2400px)
  background-size: 3000px

.Content
  text-align: center
  overflow: hidden
  max-width: 1000px
  min-height: 100vh

  &Inner
    margin-top: 75px
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center

.Section
  display: flex
  padding: 24px 0

  &Half
    flex: 0 0 50%
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    padding: 0 24px

  @media $phone
    padding: 0
    flex-direction: column
    &Half
      padding: 24px
      width: 100%
      flex: 1 0 auto

  &Title
    width: 100%
    text-align: center
    font-size: 28px
    padding: 24px 0 12px
    font-family: 'Lato', serif

  &Subtitle
    width: 100%
    text-align: left
    font-size: 16px
    margin-bottom: 12px
    font-family: 'Lato', serif
    color: #0043ad

  &Text
    color: #666
    font-size: 14px
    text-align: left
    width: 100%
    line-height: 22px
    word-spacing: .4em

  &TextPair
    position: relative
    z-index: 2
    height: 120px

    .SectionPairTitle
      position: absolute
      font-family: 'Lato Black', serif
      color: #f1f1f1
      font-size: 120px
      line-height: 34px
      z-index: -1

    .SectionPairText
      margin-left: 145px
      font-family: 'Lato', serif
      color: #0043ad
      font-size: 18px
      line-height: 34px
      padding-top: 10px


.ImageWrapper
  width: 200px
  height: 200px
  overflow: hidden
  border-radius: 50%
  margin-top: 48px


  @media $phone
    margin-top: 0

  img
    max-width: 200px
    object-fit: cover

.Links
  font-size: 18px
  line-height: 34px
  color: #535353
  padding: 24px 0
  font-family: 'Lato Thin', serif

  a
    color: #535353
    text-decoration: none

  @media $phone
    height: auto
    padding: 24px 0 0

.hellyeah
  color: #F4364C
  &:hover
    color: darken(#F4364C, 40%)

.u-highlight
  color: #0043ad
